<div class="book-list">
  {% for book in object_list.object_list %}
    <div class="book-item">
      <a href="#{{ book.slug }}" data-bookslug="{{ book.slug }}">
        <span class="img">
          <img src="{{ MEDIA_URL }}{{ book.cover_photo }}" width="260" alt="Foto de tapa de {{ book.title }}" loading="lazy" />
        </span>
        <span class="book-title">{{ book.title|truncatechars:24 }}</span>
        <span class="book-author">{{book.get_authors}}</span>
      </a>
    </div>
  {% endfor %}
  {% if object_list.has_other_pages %}
    {% include "pagination.html" with pager=object_list page_param='page' previous_label='Anterior' next_label='Siguiente' %}
  {% endif %}
</div>
